<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portier Demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <% if !authorized? %>
            <a href="/login" id="login">Login</a>
        <% else %>
            <form id="logout_top" action="<%= url '/logout' %>" method="POST"><button type="submit">Logout</button></form>
        <% end %>
        <h1>Welcome to Portier</h1>

        <section id="intro">
            <p>Portier is a self-hostable, external auth service. Spiritual successor to Browserid/Persona, it enables sites to have user logins without storing passwords.</p><p>Users log in by showing that they control the email adress.</p>
        </section>

        <% if !authorized? %>
            <section id="test">
                <p>Try it out by <a href="/login">logging in</a>.</p>
            </section>
        <% end %>

        <% if authorized? %>
            <section id="test_logged">
                <section>You are now logged in as <%= authorized_email %> <form id="logout" action="<%= url '/logout' %>" method="POST"><button type="submit">Logout</button></form></section>
                <section id="explanation">
                    <p>You saw what happened. Actually, you know more than me. Depending on the email adress entered, you either got a confirmation email and had to click on a link, or you got presented an OpenID auth-dialog of your mail hoster that asked for confirmation.</p>

                    <p>It is supposed to decide automatically the best available option.</p>
                </section>
            </section>
        <% end %>
        

        <section id="more">
            <p>To get more information, head over to the <a href="https://portier.github.io/">project site</a>. We are also still looking for help. Whether you want to work on the core, the documentation or to implement a module for your favorite framework, get in touch at <code>#portier</code> on Freenode.</p>
        </section>
    
    </body>
</html>