<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personauth Demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <main id="login_form">
            <a href="/">back</a>
            <%= render_login_button %>
        </main>
    </body>
</html>