html {
    background-image: url("background2_tiny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(5, 66, 99);
    font-family: sans-serif;
    color: white;
}

body {
    background-color: rgba(5, 66, 99, 0.8);
    max-width: 800px;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
}

section {
    padding: 1em;
}

h1 {
    text-align: center;
    font-family: serif;
}

p {
    hyphens: auto;
}

a {
    color: #049aea;
}

a:visited {
    color: #ea5504;
}

button {
    cursor: pointer;
}

#login, #logout_top {
    float: right;
    margin-right: 1em;
}

#logout_top button {
    border: 0;
    background: none;
    color: #049aea;
}

#logout {
    display: inline-block;
}

#login_form {
    padding-bottom: 3em;
}

#login_form h1 {
    text-align: left;
    margin-top: 0;
}

#login_form form {
    margin-top: 2em;
}

#login_form div {
    padding: 1em;
    padding-bottom: 2em;
    text-align: left;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background: rgba(0,0,0, 0.3);
}